<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>
                I'm a passionate computer programming student skilled in full-stack MERN development, Java, Python, and Data Science. Beyond my studies, I enjoy playing guitar, reading books, photography, and gaming.
            </p>
            <p>
                I was an aircraft maintenance engineer before switching to computer programming. Currently, I'm pursuing my 
                studies in computer programming with a focus on full-stack development. I've been playing guitar for 2 years, 
                enjoying Indian music in particular. In my free time, I like to watch anime. This career change has been an exciting 
                journey, allowing me to combine my technical background with my passion for technology and creativity.
            </p>
            <p>
                I love driving cars as they give me mental peace. In the future, I aspire to join multinational companies as a programmer. 
                This combination of my passion for technology and my love for driving reflects my desire for both intellectual 
                challenges and moments of tranquility. As I continue to develop my programming skills, I look forward to applying them in a global context, contributing to innovative projects while still finding time for the simple pleasure of a relaxing drive.
            </p>
        </article>
    </section>
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates...</p>
    </aside>
</div>
