{{#extends "main"}}

{{#block "content"}}
  <div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <hr />

        {{#if message}}
        <div class="alert alert-danger">
            {{message}}
        </div>
        {{/if}}

        <!-- Categories Table -->
        {{#if categories.length}}
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th></th> <!-- Empty header for the delete button column -->
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                <tr>
                    <td>{{this.category}}</td>
                    <td>
                        <!-- Remove button with a link to delete the category -->
                        <a href="/categories/delete/{{this.id}}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>No categories available. <a href="/categories/add" class="btn btn-success">Add a category</a></p>
        {{/if}}

        <!-- Button to Add Category -->
        <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
    </div>
  </div>
{{/block}}
